:root {
    --theme:#fea000;
    --theme-2: #f0886f;

    --back-dim: #4D4D4D;
    --back-dim-o1:#eaeaea;
    
    --text-bright: white;
    --text-bright-o1: #95989a;
    --text-bright-o2: #666;
    
    --text-dim-e1: #636567;
    --text-dim: #95989a;
}