doctype html
html(lang="fa")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="Content/fontawesome-all.min.css")
        link(rel="stylesheet", href="../../../Content/style.css")
        script(src="Scripts/jquery-1.11.3.min.js") 
        script(src="Scripts/app.js", defer) 
        base(href="./")
    body
        include ../virtualDOM/home