doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="Content/fontawesome-all.min.css")
        link(rel="stylesheet", href="Content/style.css")
        script(src="Scripts/js/jquery-1.11.3.min.js") 
        script(src="app.js", defer) 

    body#profile
        include ../virtualDOM/pages/one