header
    img(src="Content/images/img/logo-red.png", alt="")

    .left
        a(href="").far.fa-bell
        .vl
        .user(data-onclick="active")
            i.far.fa-user.squareContainer
            i.fas.fa-chevron-down

            ul 
                a(href="#") آیتم
                .hr
                a(href="#") آیتم
                a(href="#") آیتم
                .hr
                a(href="#") خروج
.cursor 
    .current
        i.far.fa-user.squareContainer
        span داشبورد
    .breadcrumb پنل > داشبورد
aside 

main