header
    img(src="Content/images/img/logo-red.png", alt="")

    .left
        a(href="", data-count="1").far.fa-bell
        .vl
        .user(data-onclick="active")
            i.far.fa-user.squareContainer
            i.fas.fa-chevron-down

            ul 
                a(href="#") آیتم
                .hr
                a(href="#") آیتم
                a(href="#") آیتم
                .hr
                a(href="#") خروج
.cursor 
    .current
        i.far.fa-user.squareContainer
        span داشبورد
    .breadcrumb پنل > داشبورد
aside 
    li.active(data-fa="",data-onclick="active", data-group="myAside") داشبورد
    .hr
    li(data-fa="",data-onclick="active", data-group="myAside") پروفایل
    li(data-fa="",data-onclick="active", data-group="myAside") دوره‌های من
    .hr
    li(data-fa="",data-onclick="active", data-group="myAside") پیام‌ها
section 
    for item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,8,9,10,11,12,13,14,15,16,8,9,10,11,12,13,14,15,16]
        | data 
        br