header
    img(src="Content/images/img/HoloG.png", alt="")

    .left
        a(href="").far.fa-bell
        .vl
        .user(data-onclick="active")
            i.far.fa-user
            i.fas.fa-chevron-down

            ul 
                a(href="#") آیتم
                .hr
                a(href="#") آیتم
                a(href="#") آیتم
                .hr
                a(href="#") خروج
aside 

main