h1 welcome to mahmir pug template!
h2 this is home page (or layout)

include childern

a(href=">index") index child of home 
br
a(href=">new") new child of home

h3 
    a(href="about.html") goto the other page (about)