header
    img(src="Content/images/img/logo-red.png", alt="")

    .left
        a(href="", data-count="1").far.fa-bell
        .vl
        .user(data-onclick="active")
            i.far.fa-user.squareContainer
            i.fas.fa-chevron-down

            ul 
                a(href="#") آیتم
                .hr
                a(href="#") آیتم
                a(href="#") آیتم
                .hr
                a(href="#") خروج
.cursor 
    .current
        i.far.fa-user.squareContainer
        span داشبورد
    .breadcrumb پنل > داشبورد
aside 
    li.active(data-fa="",data-onclick="active", data-group="myAside")
        a(href="index.html") داشبورد
    .hr
    li(data-fa="",data-onclick="active", data-group="myAside")
        a(href="profile.html") پروفایل
    li(data-fa="",data-onclick="active", data-group="myAside")
        a(href="myCourse.html") دوره‌های من
    .hr
    li(data-fa="",data-onclick="active", data-group="myAside")
        a(href="msg.html") پیام‌ها
section 
    include ../children/profile